chamfer-distance==0.1
comet-ml 
dotwiz
git+https://gitlab.com/m1lhaus/blender-mathutils.git
ipython==8.23.0
matplotlib
numpy
open3d
paramiko==3.4.0
pillow==10.2.0
PyYAML
timm==0.9.16
torch==2.3.1+cu118
torchvision==0.18.1+cu118
tqdm==4.66.2



